body::-webkit-scrollbar {
    width: 0.8em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.16);
}

body::-webkit-scrollbar-thumb {
    background-color: hsla(220, 43%, 55%, 0.35);
    border-radius: 4px;

}

.single-article-content p {
    color: black;
}

/* Utilities */
.g-width-180 {
    width: 180px;
}

.outline-focus-none:focus {
    outline: none;
}

.cursor-pointer-hover:hover {
    cursor: pointer;
}

.u-btn-linkedin {
    color: #fff;
    background-color: #0077B5;
}

.u-btn-linkedin:hover {
    color: #fff;
    background-color: #0b83c4;
}

.u-btn-whatsapp {
    color: #fff;
    background-color: #075e54;
}

.u-btn-whatsapp:hover {
    color: #fff;
    background-color: #086d61;
}

.img-cover {
    object-fit: cover;
    object-position: center;
}

p {
    color: unset !important;
}